Repository vmware-tanzu/secrets-manager, pull requests merged in 2023-10, with the labels that each got.

#284 283: Introducing make targets to avoid manual maintenance of k8s artifects
  Makefile
  hack/init-next-helm-chart.sh
  hack/release-helm-chart.sh
  hack/update-k8s-manifests.sh
  makefiles/helmUtils.mk
Labels: enhancement, feature:helm-charts

#282 Fixes unit test issues with the core package.
  core/entity/data/v1/v1.go
  core/entity/data/v1/v1_test.go
  core/template/template.go
Labels: dco-required

#299 Updating spire-controller-manager image tag in helm-charts(0.22.0)
  helm-charts/0.22.0/values.yaml
Labels: feature:helm-charts

#308 Adding unit tests for recent changes and updating helm-charts, k8s manifests
  core/env/safe_test.go
  helm-charts/0.22.0/charts/safe/values.yaml
  k8s/0.22.0/0.22.0-local-distrolesss-fips.yaml
  k8s/0.22.0/0.22.0-local-distrolesss.yaml
  k8s/0.22.0/0.22.0-local-photon-fips.yaml
  k8s/0.22.0/0.22.0-local-photon.yaml
  k8s/0.22.0/0.22.0-remote-distrolesss-fips.yaml
  k8s/0.22.0/0.22.0-remote-distrolesss.yaml
  k8s/0.22.0/0.22.0-remote-photon-fips.yaml
  k8s/0.22.0/0.22.0-remote-photon.yaml
Labels: quality
