Repository vmware-tanzu/secrets-manager, pull requests merged in 2023-08, with the labels that each got.

#64 Adding copyright header to helm-charts files
  helm-charts/Chart.yaml
  helm-charts/README.md
  helm-charts/charts/safe/Chart.yaml
  helm-charts/charts/safe/templates/Deployment.yaml
  helm-charts/charts/safe/templates/_helpers.tpl
  helm-charts/charts/safe/templates/hook-preinstall_role.yaml
  helm-charts/charts/safe/templates/identity.yaml
  helm-charts/charts/safe/templates/role_binding.yaml
  helm-charts/charts/safe/templates/secret.yaml
  helm-charts/charts/safe/templates/service.yaml
  helm-charts/charts/safe/templates/serviceaccount.yaml
  helm-charts/charts/safe/templates/tests/test-connection.yaml
  helm-charts/charts/safe/values.yaml
  helm-charts/charts/sentinel/Chart.yaml
  helm-charts/charts/sentinel/templates/Deployment.yaml
  helm-charts/charts/sentinel/templates/_helpers.tpl
  helm-charts/charts/sentinel/templates/identity.yaml
  helm-charts/charts/sentinel/templates/serviceaccount.yaml
  helm-charts/charts/sentinel/values.yaml
  helm-charts/charts/spire/Chart.yaml
  helm-charts/charts/spire/templates/_helpers.tpl
  helm-charts/charts/spire/templates/crd-rbac/hook-preinstall_leader_election_role.yaml
  helm-charts/charts/spire/templates/crd-rbac/hook-preinstall_role.yaml
  helm-charts/charts/spire/templates/crd-rbac/leader_election_role_binding.yaml
  helm-charts/charts/spire/templates/crd-rbac/role_binding.yaml
  helm-charts/charts/spire/templates/hook-preinstall_spiffe-csi-driver.yaml
  helm-charts/charts/spire/templates/hook-preinstall_spire-namespace.yaml
  helm-charts/charts/spire/templates/spire-agent.yaml
  helm-charts/charts/spire/templates/spire-controller-manager-config.yaml
  helm-charts/charts/spire/templates/spire-controller-manager-webhook.yaml
  helm-charts/charts/spire/templates/spire-server.yaml
  helm-charts/charts/spire/values.yaml
  helm-charts/crds/spire.spiffe.io_clusterfederatedtrustdomains.yaml
  helm-charts/crds/spire.spiffe.io_clusterspiffeids.yaml
  helm-charts/crds/spire.spiffe.io_clusterstaticentries.yaml
  helm-charts/values.yaml
Labels: documentation, feature:helm-charts

#67 Update README.md
  README.md
Labels: dco-required

#195 194: Fixing previous and next page link
  docs/README.md
  docs/_pages/0000-community.md
  docs/_pages/0001-contact.md
  docs/_pages/0002-maintainers.md
  docs/_pages/0003-changelog.md
  docs/_pages/0004-roadmap.md
  docs/_pages/0020-preface.md
  docs/_pages/0021-about.md
  docs/_pages/0030-endorsements.md
  docs/_pages/0050-quickstart.md
  docs/_pages/0060-philosophy.md
  docs/_pages/0070-architecture.md
  docs/_pages/0080-installation.md
  docs/_pages/0090-cli.md
  docs/_pages/0100-sdk.md
  docs/_pages/0110-configuration.md
  docs/_pages/0120-use-the-source.md
  docs/_pages/0130-contributing.md
  docs/_pages/0140-production.md
  docs/_pages/0180-use-cases.md
  docs/_pages/0190-overview.md
  docs/_pages/0200-sidecar.md
  docs/_pages/0210-sdk.md
  docs/_pages/0220-init-container.md
  docs/_pages/0230-encrypt.md
  docs/_pages/0240-transform.md
  docs/_pages/0250-showcase.md
  docs/_pages/0980-release-management.md
  docs/_pages/0990-privacy.md
Labels: enhancement

#205 196: Introducing script to initialize development helm-chart for new release
  helm-charts/init_next_helm_chart.sh
Labels: feature:helm-charts, workflow

#206 #197: Introducing initial helm-chart for 0.21.0 release
  helm-charts/0.21.0/Chart.yaml
  helm-charts/0.21.0/README.md
  helm-charts/0.21.0/charts/safe/.helmignore
  helm-charts/0.21.0/charts/safe/Chart.yaml
  helm-charts/0.21.0/charts/safe/templates/Deployment.yaml
  helm-charts/0.21.0/charts/safe/templates/_helpers.tpl
  helm-charts/0.21.0/charts/safe/templates/hook-preinstall_role.yaml
  helm-charts/0.21.0/charts/safe/templates/identity.yaml
  helm-charts/0.21.0/charts/safe/templates/role_binding.yaml
  helm-charts/0.21.0/charts/safe/templates/secret.yaml
  helm-charts/0.21.0/charts/safe/templates/service.yaml
  helm-charts/0.21.0/charts/safe/templates/serviceaccount.yaml
  helm-charts/0.21.0/charts/safe/templates/tests/test-connection.yaml
  helm-charts/0.21.0/charts/safe/values.yaml
  helm-charts/0.21.0/charts/sentinel/.helmignore
  helm-charts/0.21.0/charts/sentinel/Chart.yaml
  helm-charts/0.21.0/charts/sentinel/templates/Deployment.yaml
  helm-charts/0.21.0/charts/sentinel/templates/_helpers.tpl
  helm-charts/0.21.0/charts/sentinel/templates/identity.yaml
  helm-charts/0.21.0/charts/sentinel/templates/serviceaccount.yaml
  helm-charts/0.21.0/charts/sentinel/values.yaml
  helm-charts/0.21.0/charts/spire/.helmignore
  helm-charts/0.21.0/charts/spire/Chart.yaml
  helm-charts/0.21.0/charts/spire/templates/_helpers.tpl
  helm-charts/0.21.0/charts/spire/templates/crd-rbac/hook-preinstall_leader_election_role.yaml
  helm-charts/0.21.0/charts/spire/templates/crd-rbac/hook-preinstall_role.yaml
  helm-charts/0.21.0/charts/spire/templates/crd-rbac/leader_election_role_binding.yaml
  helm-charts/0.21.0/charts/spire/templates/crd-rbac/role_binding.yaml
  helm-charts/0.21.0/charts/spire/templates/hook-preinstall_spiffe-csi-driver.yaml
  helm-charts/0.21.0/charts/spire/templates/hook-preinstall_spire-namespace.yaml
  helm-charts/0.21.0/charts/spire/templates/spire-agent.yaml
  helm-charts/0.21.0/charts/spire/templates/spire-controller-manager-config.yaml
  helm-charts/0.21.0/charts/spire/templates/spire-controller-manager-webhook.yaml
  helm-charts/0.21.0/charts/spire/templates/spire-server.yaml
  helm-charts/0.21.0/charts/spire/values.yaml
  helm-charts/0.21.0/crds/spire.spiffe.io_clusterfederatedtrustdomains.yaml
  helm-charts/0.21.0/crds/spire.spiffe.io_clusterspiffeids.yaml
  helm-charts/0.21.0/crds/spire.spiffe.io_clusterstaticentries.yaml
  helm-charts/0.21.0/templates/hook-preinstall-namespace.yaml
  helm-charts/0.21.0/values.yaml
  helm-charts/init_next_helm_chart.sh
Labels: feature:helm-charts

#234 233: Moving changelog, release and roadmap closer to Release Management
  docs/_pages/0005-blog.md
  docs/_pages/0020-preface.md
  docs/_pages/0260-changelog.md
  docs/_pages/0270-releases.md
  docs/_pages/0280-roadmap.md
  docs/_pages/0990-privacy.md
Labels: maintenance, cosmetic, feature:website
